{% extends "Base.html" %}
{% block title %}<title>About Me{{id}}</title>{% endblock title %}

{% block content %}
<div class="information">
            
    <p id="bilgilendirme"><i>My Name is <b>Demirhan</b> and surname is <b>Adıgüzel</b>.That is a my first website.I study software engineering at Kocaeli Universty and my number is 220229068.I m from Sakarya in Türkiye and now i study in Kocaeli.I like Kocaeli but not much.</i></p>
     
</div>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
{% endblock content %}
